/* 오늘 경기 */

/* 경기 정보 */
.match_box {
    display: inline-block;
    position: relative;
    /* game_cnt * 280px의 너비를 설정합니다. */
    width: calc(var(--game-cnt) * 280px);
}

.match {
    display: inline-block;
    position: relative;
    width: 255px;
    height: 340px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 3px solid #002561;
}

.team1 {
    display: inline-block;
    position: relative;
    margin-left: 6px;
    width: 117px;
    border-radius: 5px;
}

.team2 {
    display: inline-block;
    position: relative;
    margin-left: 3px;
    width: 117px;
    border-radius: 5px;

}

.team img {
    width: 120px;
    margin-top: -30px;
}

.team h1 {
    margin-top: -10px;
}

.team h2 {
    margin-top: -10px;
}

/* 팀 순위 표 */
.ranking {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
    font-size: 25px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


td img {
    height: 100px;
    position: relative;
    float: left;
    margin-left: 30px;
}

.team_name {
    position: relative;
    float: left;
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
    margin-right: -10px;
}

