{% extends "index.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage.css') }}">
<script type="text/javascript" defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock css %}


{% block section %}

<h1>마이페이지</h1>



<form action="/my_team_select" method="POST" id="teamForm">
    <div class="my_page_box">
        <div class="my_page_text">My 팀</div>
        {% if my_team_num == 0 %}
            <h2>My 팀이 없습니다.</h2>
        {% else %}
            <div class="my_team_box">
                {% for team in my_team_list %}
                <button class="team_img" id="my_team_button" value="{{team}}" onclick="click_my_team('{{team}}')">
                    {% if team == 'SSG' %} <img src="static/img/SSG.png" alt="SSG">
                    {% elif team == '키움' %} <img src="static/img/Kiwoom.png" alt="키움 히어로즈">
                    {% elif team == 'LG' %} <img src="static/img/LG.png" alt="LG 트윈스">
                    {% elif team == 'KT' %} <img src="static/img/KT.png" alt="kt wiz">
                    {% elif team == 'KIA' %} <img src="static/img/KIA.png" alt="KIA 타이거즈">
                    {% elif team == 'NC' %} <img src="static/img/NC.png" alt="NC 다이노스">
                    {% elif team == '삼성' %} <img src="static/img/Samsung.png" alt="삼성 라이온즈">
                    {% elif team == '롯데' %} <img src="static/img/Lotte.png" alt="롯데 자이언츠">
                    {% elif team == '두산' %} <img src="static/img/Doosan.png" alt="두산 베어스">
                    {% elif team == '한화' %} <img src="static/img/Hanwha.png" alt="한화 이글스">
                    {% endif %}
                    <h2 data-team="{{team}}">{{team}}</h2>
                </button>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <input type="hidden" id="team" name="team" value="0">
</form>

<form action="/my_player_select" method="POST" id="teamForm">
    <div class="my_page_box">
        <div class="my_page_text">My 선수</div>
        {% if my_player_num == 0 %}
            <h2>My 선수가 없습니다.</h2>
        {% else %}
        <div class="my_player_box">
            {% for player in my_player_list %}
            <button class="player_img" id="my_player_button" value="{{player[1]}}" onclick="click_my_player('{{player[11]}}', '{{player[1]}}')">
                <img src={{player[10]}} alt={{player[0]}}>
                <h2>{{player[11]}} {{player[1]}} {{player[0]}}</h2>
            </button>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <input type="hidden" id="player_team" name="player_team" value="0">
    <input type="hidden" id="player" name="player" value="0">
</form>

{% endblock section %}   